##### 1. To create a dataframe containing columns name, age and percentage. Add 10 rows to the dataframe. View the dataframe.

In [1]:
import pandas as pd 
df = pd.read_csv("./student.csv")

df

       name  percentage  age
0   Harish           95   20
1     Rohan          90   20
2    Pratik          95   20
3   Harish           95   20
4     Rohan          90   20
5    Pratik          95   20
6   Harish           95   20
7     Rohan          90   20
8    Pratik          95   20
9   Harish           95   20
10    Rohan          90   20
11   Pratik          95   20

##### 2. To print the shape, number of rows-columns, data types, feature names and the description of the data